@model RichDocumentRestAPIs.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.byteSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.byteSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
